@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
/*
html[tema="light"]{   
   // @include bc.templete();
}   

html[tema="dark"]{
    //@include bc.templete();
}
*/
* {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

body {
  background: -300px 0 url(/midia/img/fundo/147309.svg);
  background-color: #202626;
}

.sm {
  display: none;
}

header.lg-xl nav {
  background-color: #8C5B3F;
  display: grid;
  min-width: 100%;
  min-height: 5vh;
  max-height: 5vh;
  grid-template-columns: 0.3fr repeat(5, 2fr) 0.3fr;
  font-weight: bold;
  grid-template-areas: "logo txtLogo link link link txtTema tema";
}
header.lg-xl nav .txtLogo {
  justify-self: start;
  align-self: center;
  grid-area: txtLogo;
}
header.lg-xl nav .txtTema {
  justify-self: end;
  align-self: center;
  grid-area: txtTema;
}
header.lg-xl nav > a {
  text-decoration: none;
  align-self: center;
  grid-area: logo;
}
header.lg-xl nav .imgLogo {
  min-height: 1vh;
  max-height: 4vh;
}
header.lg-xl nav .imgTema {
  min-height: 1vh;
  max-height: 4vh;
}
header.lg-xl nav .logo {
  justify-self: center;
  align-self: center;
}
header.lg-xl nav .toggle {
  grid-area: tema;
  justify-self: center;
  align-self: center;
}
header.lg-xl nav ul {
  grid-area: link;
  justify-self: center;
  align-self: center;
  display: inline-block;
  list-style: none;
}
header.lg-xl nav ul li {
  display: inline-block;
}
header.lg-xl nav ul li a {
  text-decoration: none;
  padding: 2vh;
}
header.lg-xl nav ul li a:visited {
  color: black;
}
header.lg-xl nav ul li a:hover {
  color: #3C2440;
  transition: 400ms;
  font-size: 2em;
}
header.lg-xl nav ul li a:link {
  color: #FF0000;
}
header.lg-xl nav ul li a:active {
  transition: 0ms;
  color: #FF0000;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(5, 1fr) 1fr;
  grid-template-areas: "slide slide slide slide slide slide slide" ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .";
}

.slide {
  grid-area: slide;
  min-height: 60vh;
  background-image: url("/midia/img/projeto-bloco-notas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom: 2px solid black;
}

.conteudo {
  grid-area: conteudo2;
  display: grid;
  text-align: center;
  background-color: #b1b1b1;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 15px;
  padding-top: 30px;
  box-shadow: 0 10px 15px black;
  max-width: 100%;
  min-height: 30vh;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.5vh;
  row-gap: 2.5vh;
  grid-template-areas: "bloco01 bloco02 bloco03 bloco04 bloco05 bloco06";
}

.bloco01 {
  border: 2px solid black;
  padding: 5px;
  grid-area: bloco01;
}

.bloco02 {
  border: 2px solid black;
  padding: 5px;
  grid-area: bloco02;
}

.bloco03 {
  border: 2px solid black;
  padding: 5px;
  grid-area: bloco03;
}

.bloco04 {
  border: 2px solid black;
  padding: 5px;
  grid-area: bloco04;
}

.bloco05 {
  border: 2px solid black;
  padding: 5px;
  grid-area: bloco05;
}

.bloco06 {
  border: 2px solid black;
  padding: 5px;
  grid-area: bloco06;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
  }

  .conteudo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bloco01 bloco02 bloco03" "bloco04 bloco05 bloco06";
  }

  header.lg-xl nav {
    max-height: 10vh;
  }
}
@media screen and (max-width: 760px) {
  .conteudo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "bloco01 bloco02" "bloco03 bloco04" "bloco05 bloco06";
  }

  .sm {
    display: inline;
  }
  .sm nav {
    background-color: #557340;
    display: grid;
    min-width: 100%;
    min-height: 5vh;
    grid-template-columns: 0.3fr repeat(5, 2fr) 0.3fr;
    font-weight: bold;
    grid-template-areas: "logo txtLogo txtLogo select txtTema txtTema  tema";
  }
  .sm nav .txtLogo {
    justify-self: start;
    align-self: center;
    grid-area: txtLogo;
  }
  .sm nav .txtTema {
    justify-self: end;
    align-self: center;
    grid-area: txtTema;
  }
  .sm nav > a {
    text-decoration: none;
    align-self: center;
    grid-area: logo;
  }
  .sm nav .imgLogo {
    min-height: 1vh;
    max-height: 4vh;
  }
  .sm nav .imgTema {
    min-height: 1vh;
    max-height: 4vh;
  }
  .sm nav .logo {
    justify-self: center;
    align-self: center;
  }
  .sm nav .toggle {
    grid-area: tema;
    justify-self: center;
    align-self: center;
  }
  .sm nav #menu {
    justify-self: center;
    align-self: center;
    grid-area: select;
    border-radius: 10px;
    background: transparent;
    border: none;
    text-align: center;
  }
  .sm nav #menu:hover {
    background-color: #F2E0BD;
  }
  .sm nav #menu option {
    background-color: #F2E0BD;
  }
  .sm nav #menu option:hover {
    background-color: #F2E0BD;
  }

  .lg-xl {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: " slide slide slide slide slide " "conteudo2 conteudo2 conteudo2 conteudo2 conteudo2";
  }

  .conteudo {
    border: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "bloco01" "bloco02" "bloco03" "bloco04" "bloco05" "bloco06";
  }
}
/*  TEMAS

@mixin bloco {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    margin: 5px;
    display: inline-block;
}

.bloco1,.bloco2,.bloco3,.bloco4,.bloco5{
    @include bloco()
}

.bloco1{background-color:#3C2440 ;}
.bloco2{background-color:#557340 ;}
.bloco3{background-color:#A9BF5A ;}
.bloco4{background-color:#CFD984 ;}
.bloco5{background-color:#F2E0BD ;}



main - #3C2440 --- #557340 --- #A9BF5A --- #CFD984 --- #F2E0BD
elegante - #0B0B0D --- #202626 --- #383F40 --- #D9B282 --- #8C5B3F
blue - #002D5C --- #025797 --- #0968AD --- #248BDA --- #59A0D4
festa - #62CDD9 --- #0AA605 --- #F2B705 --- #F25C05 --- #F21616
preto_branco - #F2F2F2 --- #BFBFBF --- #737373 --- #404040--- #0D0D0D
rosa - #590219 --- #8C0F3D --- #A6175A --- #D93280 --- #F241A3
*/
/*# sourceMappingURL=main.css.map */
