@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
/*  TEMAS
main - #3C2440 --- #557340 --- #A9BF5A --- #CFD984 --- #F2E0BD
elegante - #0B0B0D --- #202626 --- #383F40 --- #D9B282 --- #8C5B3F
blue - #002D5C --- #025797 --- #0968AD --- #248BDA --- #59A0D4
festa - #62CDD9 --- #0AA605 --- #F2B705 --- #F25C05 --- #F21616
preto_branco - #F2F2F2 --- #BFBFBF --- #737373 --- #404040--- #0D0D0D
rosa - #590219 --- #8C0F3D --- #A6175A --- #D93280 --- #F241A3


// FONTE ::: font-family: 'Merriweather Sans', sans-serif;
 // light -- dark


html[tema="light"]{   
   // @include bc.templete();
}   

html[tema="dark"]{
    //@include bc.templete();
}
*/
.error {
  color: red;
  background: yellow;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

@media screen and (min-width: 1201px) {
  html[page=sobre] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: ". . . . . . ." ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 ." ". . . . . . .";
    grid-template-rows: 0.5fr 1fr 0.8fr;
  }
  html[page=sobre] .conteudoCartao {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: rgba(14, 14, 14, 0.938);
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 30px #858484;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "FotoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil";
  }
  html[page=sobre] .FotoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 50%;
    background-color: white;
    min-width: 30vh;
    min-height: 30vh;
    padding: 5px;
    grid-area: FotoPerfil;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background: -90px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
  }
  html[page=sobre] .textoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: textoPerfil;
  }
}
@media screen and (max-width: 1200px) {
  html[page=sobre] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: ". . . . . . ." ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 ." ". . . . . . .";
    grid-template-rows: 0.5fr 1fr 0.8fr;
  }
  html[page=sobre] .conteudoCartao {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: rgba(14, 14, 14, 0.938);
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 30px #858484;
    max-width: 100%;
    min-height: 20vh;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "FotoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil";
  }
  html[page=sobre] .FotoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 50%;
    background-color: white;
    min-width: 25vh;
    min-height: 25vh;
    padding: 5px;
    grid-area: FotoPerfil;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background: -110px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
  }
  html[page=sobre] .textoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: textoPerfil;
  }
}
@media screen and (max-width: 900px) {
  html[page=sobre] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: ". . . . . . ." ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 ." ". . . . . . .";
    grid-template-rows: 0.1fr 1fr 0.1fr;
  }
  html[page=sobre] .conteudoCartao {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: rgba(14, 14, 14, 0.938);
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 30px #858484;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: ". . FotoPerfil FotoPerfil . ." "textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil";
  }
  html[page=sobre] .FotoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 50%;
    background-color: white;
    min-width: 30vh;
    min-height: 30vh;
    padding: 5px;
    grid-area: FotoPerfil;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background: -90px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
  }
  html[page=sobre] .textoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: textoPerfil;
  }
}
@media screen and (max-width: 640px) {
  html[page=sobre] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: "conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 conteudo2";
    grid-template-rows: 1fr;
  }
  html[page=sobre] .conteudoCartao {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: rgba(14, 14, 14, 0.938);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px #858484;
    max-width: 100%;
    min-height: 10vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas: "FotoPerfil FotoPerfil FotoPerfil FotoPerfil FotoPerfil FotoPerfil" "textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil";
  }
  html[page=sobre] .FotoPerfil {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 50%;
    background-color: white;
    min-width: 40vh;
    min-height: 40vh;
    max-width: 800vh;
    max-height: 800vh;
    padding: 5px;
    grid-area: FotoPerfil;
    justify-self: center;
    align-self: center;
    background: -80px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  html[page=sobre] .textoPerfil {
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: textoPerfil;
  }
}

@media screen and (min-width: 1201px) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 375px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 375px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 375px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 300px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 321px) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 300px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 90%;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    display: none;
  }
}
@media screen and (max-width: 621px) and (orientation: landscape) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 280px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    position: absolute;
    top: 600px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  html[page=contatos] .bodyContatos {
    background: none;
    background-image: linear-gradient(to right, #1493dc, #113847);
  }
  html[page=contatos] .box {
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.555);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    min-width: 380px;
  }
  html[page=contatos] fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
    padding-top: 25px;
  }
  html[page=contatos] legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    border-radius: 8px;
  }
  html[page=contatos] .inputBox {
    position: relative;
  }
  html[page=contatos] .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  html[page=contatos] .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  html[page=contatos] .inputUser:focus ~ .labelInput, html[page=contatos] .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
    background: none;
  }
  html[page=contatos] #txtArea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 20vh;
    padding: 10px;
    letter-spacing: 2px;
    background-color: darkgray;
    font-weight: bold;
    margin-top: 5px;
    outline: 0;
  }
  html[page=contatos] #txtLabelArea {
    font-size: 12px;
  }
  html[page=contatos] #btnEnviar {
    background-image: linear-gradient(to right, #005cc5, #5a14dc);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  html[page=contatos] #btnEnviar:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3);
  }
  html[page=contatos] footer {
    position: absolute;
    top: 600px;
  }
}

html[slide=foto1] footer {
  background-color: transparent;
  margin-top: 2vh;
  bottom: 0px;
  min-width: 100%;
  min-height: 5vh;
  max-height: 10vh;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
html[slide=foto1] .slide {
  grid-area: slide;
  border-bottom: 1px solid black;
}
html[slide=foto1] .slide .foto01 {
  background-image: url("../midia/img/slide/bloco_Notas-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto1] .slide .foto01 .textoFoto1 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto1] .slide .foto01 .textoFoto1:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto1] .slide .foto01 .textoFoto1:hover input {
  color: blue;
}
html[slide=foto1] .slide .foto01 .textoFoto1 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto1] .slide .foto01 .textoFoto1 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto1] .slide .foto01 .textoFoto1 input:active {
  background-color: black;
  color: green;
}
html[slide=foto1] .slide .foto02 {
  background-image: url("/midia/img/slide/calculadora-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto1] .slide .foto02 .textoFoto2 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto1] .slide .foto02 .textoFoto2:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto1] .slide .foto02 .textoFoto2:hover input {
  color: blue;
}
html[slide=foto1] .slide .foto02 .textoFoto2 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto1] .slide .foto02 .textoFoto2 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto1] .slide .foto02 .textoFoto2 input:active {
  background-color: black;
  color: green;
}
html[slide=foto1] .slide .foto03 {
  background-image: url("/midia/img/slide/key_projeto-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto1] .slide .foto03 .textoFoto3 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto1] .slide .foto03 .textoFoto3:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto1] .slide .foto03 .textoFoto3:hover input {
  color: blue;
}
html[slide=foto1] .slide .foto03 .textoFoto3 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto1] .slide .foto03 .textoFoto3 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto1] .slide .foto03 .textoFoto3 input:active {
  background-color: black;
  color: green;
}
html[slide=foto1] .slide .foto01 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foto1";
}
html[slide=foto1] .slide .foto01 .textoFoto1 {
  grid-area: foto1;
  display: block;
  justify-self: center;
  align-self: end;
}
html[slide=foto1] .txtFocusMenu {
  background-color: grey;
}
@media screen and (min-width: 1201px) {
  html[slide=foto1] {
    /*
    .slide{
        .foto01{
            background-image: url("/midia/img/slide/bloco_Notas-LX.png");
        }
        .foto02{
            background-image: url("/midia/img/slide/calculadora-LX.png");
        }
        .foto03{
            background-image: url("/midia/img/slide/key_projeto-LX.png");
        }
    }    
    */
  }
  html[slide=foto1] .sm {
    display: none;
  }
  html[slide=foto1] * {
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
  }
  html[slide=foto1] body {
    background: -300px 0 url(/midia/img/fundo/147309.svg);
    background-color: #202626;
  }
  html[slide=foto1] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: "slide slide slide slide slide slide slide" ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .";
  }
  html[slide=foto1] .conteudo {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: #b1b1b1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    padding-top: 30px;
    box-shadow: 0 10px 15px black;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "bloco01 bloco02 bloco03 bloco04 bloco05 bloco06";
  }
  html[slide=foto1] .bloco01 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco01;
  }
  html[slide=foto1] .bloco02 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco02;
  }
  html[slide=foto1] .bloco03 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco03;
  }
  html[slide=foto1] .bloco04 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco04;
  }
  html[slide=foto1] .bloco05 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco05;
  }
  html[slide=foto1] .bloco06 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco06;
  }
}

html[slide=foto2] footer {
  background-color: transparent;
  margin-top: 2vh;
  bottom: 0px;
  min-width: 100%;
  min-height: 5vh;
  max-height: 10vh;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
html[slide=foto2] .slide {
  grid-area: slide;
  border-bottom: 1px solid black;
}
html[slide=foto2] .slide .foto01 {
  background-image: url("../midia/img/slide/bloco_Notas-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto2] .slide .foto01 .textoFoto1 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto2] .slide .foto01 .textoFoto1:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto2] .slide .foto01 .textoFoto1:hover input {
  color: blue;
}
html[slide=foto2] .slide .foto01 .textoFoto1 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto2] .slide .foto01 .textoFoto1 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto2] .slide .foto01 .textoFoto1 input:active {
  background-color: black;
  color: green;
}
html[slide=foto2] .slide .foto02 {
  background-image: url("/midia/img/slide/calculadora-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto2] .slide .foto02 .textoFoto2 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto2] .slide .foto02 .textoFoto2:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto2] .slide .foto02 .textoFoto2:hover input {
  color: blue;
}
html[slide=foto2] .slide .foto02 .textoFoto2 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto2] .slide .foto02 .textoFoto2 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto2] .slide .foto02 .textoFoto2 input:active {
  background-color: black;
  color: green;
}
html[slide=foto2] .slide .foto03 {
  background-image: url("/midia/img/slide/key_projeto-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto2] .slide .foto03 .textoFoto3 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto2] .slide .foto03 .textoFoto3:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto2] .slide .foto03 .textoFoto3:hover input {
  color: blue;
}
html[slide=foto2] .slide .foto03 .textoFoto3 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto2] .slide .foto03 .textoFoto3 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto2] .slide .foto03 .textoFoto3 input:active {
  background-color: black;
  color: green;
}
html[slide=foto2] .slide .foto02 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foto2";
}
html[slide=foto2] .slide .foto02 .textoFoto2 {
  grid-area: foto2;
  display: block;
  justify-self: center;
  align-self: end;
}
html[slide=foto2] .txtFocusMenu {
  background-color: grey;
}
@media screen and (min-width: 1201px) {
  html[slide=foto2] {
    /*
    .slide{
        .foto01{
            background-image: url("/midia/img/slide/bloco_Notas-LX.png");
        }
        .foto02{
            background-image: url("/midia/img/slide/calculadora-LX.png");
        }
        .foto03{
            background-image: url("/midia/img/slide/key_projeto-LX.png");
        }
    }    
    */
  }
  html[slide=foto2] .sm {
    display: none;
  }
  html[slide=foto2] * {
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
  }
  html[slide=foto2] body {
    background: -300px 0 url(/midia/img/fundo/147309.svg);
    background-color: #202626;
  }
  html[slide=foto2] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: "slide slide slide slide slide slide slide" ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .";
  }
  html[slide=foto2] .conteudo {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: #b1b1b1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    padding-top: 30px;
    box-shadow: 0 10px 15px black;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "bloco01 bloco02 bloco03 bloco04 bloco05 bloco06";
  }
  html[slide=foto2] .bloco01 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco01;
  }
  html[slide=foto2] .bloco02 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco02;
  }
  html[slide=foto2] .bloco03 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco03;
  }
  html[slide=foto2] .bloco04 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco04;
  }
  html[slide=foto2] .bloco05 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco05;
  }
  html[slide=foto2] .bloco06 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco06;
  }
}

html[slide=foto3] footer {
  background-color: transparent;
  margin-top: 2vh;
  bottom: 0px;
  min-width: 100%;
  min-height: 5vh;
  max-height: 10vh;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
html[slide=foto3] .slide {
  grid-area: slide;
  border-bottom: 1px solid black;
}
html[slide=foto3] .slide .foto01 {
  background-image: url("../midia/img/slide/bloco_Notas-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto3] .slide .foto01 .textoFoto1 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto3] .slide .foto01 .textoFoto1:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto3] .slide .foto01 .textoFoto1:hover input {
  color: blue;
}
html[slide=foto3] .slide .foto01 .textoFoto1 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto3] .slide .foto01 .textoFoto1 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto3] .slide .foto01 .textoFoto1 input:active {
  background-color: black;
  color: green;
}
html[slide=foto3] .slide .foto02 {
  background-image: url("/midia/img/slide/calculadora-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto3] .slide .foto02 .textoFoto2 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto3] .slide .foto02 .textoFoto2:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto3] .slide .foto02 .textoFoto2:hover input {
  color: blue;
}
html[slide=foto3] .slide .foto02 .textoFoto2 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto3] .slide .foto02 .textoFoto2 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto3] .slide .foto02 .textoFoto2 input:active {
  background-color: black;
  color: green;
}
html[slide=foto3] .slide .foto03 {
  background-image: url("/midia/img/slide/key_projeto-LX.png");
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: none;
}
html[slide=foto3] .slide .foto03 .textoFoto3 {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid transparent;
  color: rgba(0, 0, 0, 0.377);
  min-width: 20vh;
  max-width: 100vh;
  max-height: 50vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
  display: none;
}
html[slide=foto3] .slide .foto03 .textoFoto3:hover {
  background-color: rgba(0, 0, 0, 0.829);
  border: 2px solid rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.575);
}
html[slide=foto3] .slide .foto03 .textoFoto3:hover input {
  color: blue;
}
html[slide=foto3] .slide .foto03 .textoFoto3 input {
  border-radius: 15px;
  min-width: 10vh;
  margin-top: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 255, 0.329);
  font-weight: bold;
  font-size: 1.2em;
}
html[slide=foto3] .slide .foto03 .textoFoto3 input:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
html[slide=foto3] .slide .foto03 .textoFoto3 input:active {
  background-color: black;
  color: green;
}
html[slide=foto3] .slide .foto03 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foto3";
}
html[slide=foto3] .slide .foto03 .textoFoto3 {
  grid-area: foto3;
  display: block;
  justify-self: center;
  align-self: end;
}
html[slide=foto3] .txtFocusMenu {
  background-color: grey;
}
@media screen and (min-width: 1201px) {
  html[slide=foto3] {
    /*
    .slide{
        .foto01{
            background-image: url("/midia/img/slide/bloco_Notas-LX.png");
        }
        .foto02{
            background-image: url("/midia/img/slide/calculadora-LX.png");
        }
        .foto03{
            background-image: url("/midia/img/slide/key_projeto-LX.png");
        }
    }    
    */
  }
  html[slide=foto3] .sm {
    display: none;
  }
  html[slide=foto3] * {
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
  }
  html[slide=foto3] body {
    background: -300px 0 url(/midia/img/fundo/147309.svg);
    background-color: #202626;
  }
  html[slide=foto3] .container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-areas: "slide slide slide slide slide slide slide" ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .";
  }
  html[slide=foto3] .conteudo {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: #b1b1b1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    padding-top: 30px;
    box-shadow: 0 10px 15px black;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "bloco01 bloco02 bloco03 bloco04 bloco05 bloco06";
  }
  html[slide=foto3] .bloco01 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco01;
  }
  html[slide=foto3] .bloco02 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco02;
  }
  html[slide=foto3] .bloco03 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco03;
  }
  html[slide=foto3] .bloco04 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco04;
  }
  html[slide=foto3] .bloco05 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco05;
  }
  html[slide=foto3] .bloco06 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco06;
  }
}

@media screen and (max-width: 1200px) {
  /*
  .slide{
      .foto01{
          background-image: url("/midia/img/slide/bloco_Notas-MD.png");
      }
      .foto02{
          background-image: url("/midia/img/slide/calculadora-MD.png");
      }
      .foto03{
          background-image: url("/midia/img/slide/key_projeto-MD.png");
      }
  }  
  */
  .sm {
    display: none;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
  }

  body {
    background: -300px 0 url(/midia/img/fundo/147309.svg);
    background-color: #202626;
  }

  .container {
    display: grid;
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
    grid-template-areas: "slide slide slide slide slide slide slide" ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .";
  }

  .conteudo {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: #b1b1b1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    padding-top: 30px;
    box-shadow: 0 10px 15px black;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "bloco01 bloco02 bloco03" "bloco04 bloco05 bloco06";
  }

  .bloco01 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco01;
  }

  .bloco02 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco02;
  }

  .bloco03 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco03;
  }

  .bloco04 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco04;
  }

  .bloco05 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco05;
  }

  .bloco06 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco06;
  }

  header.lg-xl nav {
    max-height: 10vh;
  }
}
@media screen and (max-width: 760px) {
  /*
  .slide{
      .foto01{
          background-image: url("/midia/img/slide/bloco_Notas-SM.png");
      }
      .foto02{
          background-image: url("/midia/img/slide/calculadora-SM.png");
      }
      .foto03{
          background-image: url("/midia/img/slide/key_projeto-SM.png");
      }
  }  
  */
  * {
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
  }

  body {
    background: -300px 0 url(/midia/img/fundo/147309.svg);
    background-color: #202626;
  }

  .container {
    display: grid;
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
    grid-template-areas: "slide slide slide slide slide slide slide" ". conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .";
  }

  .conteudo {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: #b1b1b1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    padding-top: 30px;
    box-shadow: 0 10px 15px black;
    max-width: 100%;
    min-height: 30vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "bloco01 bloco02" "bloco03 bloco04" "bloco05 bloco06";
  }

  .bloco01 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco01;
  }

  .bloco02 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco02;
  }

  .bloco03 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco03;
  }

  .bloco04 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco04;
  }

  .bloco05 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco05;
  }

  .bloco06 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco06;
  }

  .lg-xl {
    display: none;
  }

  .sm {
    display: inline;
  }
  .sm nav {
    background-color: #ffffff;
    display: grid;
    min-width: 100%;
    min-height: 5vh;
    grid-template-columns: 0.3fr repeat(5, 2fr) 0.3fr;
    font-weight: bold;
    grid-template-areas: "logo txtLogo txtLogo select txtTema txtTema  tema";
  }
  .sm nav .txtLogo {
    justify-self: start;
    align-self: center;
    grid-area: txtLogo;
  }
  .sm nav .txtTema {
    justify-self: end;
    align-self: center;
    grid-area: txtTema;
  }
  .sm nav > a {
    text-decoration: none;
    align-self: center;
    grid-area: logo;
  }
  .sm nav .imgLogo {
    min-height: 1vh;
    max-height: 4vh;
  }
  .sm nav .imgTema {
    min-height: 1vh;
    max-height: 4vh;
  }
  .sm nav .logo {
    justify-self: center;
    align-self: center;
  }
  .sm nav .toggle {
    grid-area: tema;
    justify-self: center;
    align-self: center;
  }
  .sm nav #menu {
    justify-self: center;
    align-self: center;
    grid-area: select;
    outline: 0;
    border-radius: 10px;
    background: transparent;
    border: none;
    text-align: center;
  }
  .sm nav #menu:hover {
    background-color: #ffffff;
  }
  .sm nav #menu option {
    background-color: #ffffff;
  }
  .sm nav #menu option:hover {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 640px) {
  /*
          .slide{
              .foto01{
                  background-image: url("/midia/img/slide/bloco_Notas-SM.png");
              }
              .foto02{
                  background-image: url("/midia/img/slide/calculadora-SM.png");
              }
              .foto03{
                  background-image: url("/midia/img/slide/key_projeto-SM.png");
              }
          }          
  */
  * {
    padding: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
  }

  body {
    background: -300px 0 url(/midia/img/fundo/147309.svg);
    background-color: #202626;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: " slide slide slide slide slide " "conteudo2 conteudo2 conteudo2 conteudo2 conteudo2";
  }

  .conteudo {
    grid-area: conteudo2;
    display: grid;
    text-align: center;
    background-color: #b1b1b1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    padding-top: 30px;
    box-shadow: 0 10px 15px black;
    max-width: 100%;
    min-height: 30vh;
    border: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.5vh;
    row-gap: 2.5vh;
    grid-template-areas: "bloco01" "bloco02" "bloco03" "bloco04" "bloco05" "bloco06";
  }

  .bloco01 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco01;
  }

  .bloco02 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco02;
  }

  .bloco03 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco03;
  }

  .bloco04 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco04;
  }

  .bloco05 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco05;
  }

  .bloco06 {
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    grid-area: bloco06;
  }
}
header.lg-xl nav {
  background-color: #ffffff;
  display: grid;
  min-width: 100%;
  min-height: 6vh;
  max-height: 10vh;
  grid-template-columns: 0.3fr repeat(5, 2fr) 0.3fr;
  font-weight: bold;
  grid-template-areas: "logo txtLogo link link link txtTema tema";
}
header.lg-xl nav .txtLogo {
  justify-self: start;
  align-self: center;
  grid-area: txtLogo;
}
header.lg-xl nav .txtTema {
  justify-self: end;
  align-self: center;
  grid-area: txtTema;
}
header.lg-xl nav > a {
  text-decoration: none;
  align-self: center;
  grid-area: logo;
}
header.lg-xl nav .imgLogo {
  min-height: 1vh;
  max-height: 4vh;
}
header.lg-xl nav .imgTema {
  min-height: 1vh;
  max-height: 4vh;
}
header.lg-xl nav .logo {
  justify-self: center;
  align-self: center;
}
header.lg-xl nav .toggle {
  grid-area: tema;
  justify-self: center;
  align-self: center;
}
header.lg-xl nav ul {
  grid-area: link;
  justify-self: center;
  align-self: center;
  display: inline-block;
  list-style: none;
}
header.lg-xl nav ul li {
  display: inline-block;
}
header.lg-xl nav ul li a {
  text-decoration: none;
  padding: 2vh;
}
header.lg-xl nav ul li a:link {
  color: black;
}
header.lg-xl nav ul li a:visited {
  color: black;
}
header.lg-xl nav ul li a:hover {
  transition: 300ms;
  border: 2px solid black;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px #3b3b3b;
}
header.lg-xl nav ul li a:active {
  transition: 0ms;
  border-radius: 50%;
  background-color: #303030;
}

/*****/
/*# sourceMappingURL=main.css.map */
