@mixin sobre{
    @media screen and (min-width:1201px) {
        .container{
            display: grid;
            grid-template-columns: 1fr repeat(5,1fr) 1fr;
            grid-template-areas: 
            '. . . . . . .'
            '. conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .'
            '. . . . . . .'
            ;
            grid-template-rows: 0.5fr 1fr 0.8fr;
        }
        
        .conteudoCartao{
            grid-area: conteudo2;
            display: grid;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.555);
            border:2px solid black ;
            border-radius: 10px;
            padding: 30px;
            max-width: 100%;
            min-height:30vh;
            grid-template-columns:repeat(6,1fr);
            column-gap: 1.5vh;
            row-gap: 2.5vh;
            grid-template-areas: 
            'FotoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil'
            ;
        }
        
        .FotoPerfil{
            border: 2px solid black;
            border-radius: 50%;
            box-shadow: 0 0 15px black;
            min-width: 30vh;
            min-height: 30vh;
            padding: 5px;
            grid-area:FotoPerfil;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            background: -90px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
        }
        .textoPerfil{
            border: 2px solid black;
             box-shadow: 0 0 15px black;
            border-radius: 15px;
            background-color: white;
            padding: 5px;
            grid-area:textoPerfil ;
        }
    }

    @media screen and (max-width: 1200px) {
        .container{
            display: grid;
            grid-template-columns: 1fr repeat(5,1fr) 1fr;
            grid-template-areas: 
            '. . . . . . .'
            '. conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .'
            '. . . . . . .'
            ;
            grid-template-rows: 0.5fr 1fr 0.8fr;
        }
        
        .conteudoCartao{
            grid-area: conteudo2;
            display: grid;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.555);
            border:2px solid black ;
            border-radius: 10px;
            padding: 30px;
            max-width: 100%;
            min-height: 20vh;
            grid-template-columns:repeat(6,1fr);
            column-gap: 1.5vh;
            row-gap: 2.5vh;
            grid-template-areas: 
            'FotoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil'
            ;
        }
        
        .FotoPerfil{
            border: 2px solid black;
            box-shadow: 0 0 15px black;
            border-radius: 50%;
            background-color: white;
            min-width: 25vh;
            min-height: 25vh;
            padding: 5px;
            grid-area:FotoPerfil;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            background: -110px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
        }
        .textoPerfil{
            border: 2px solid black;
             box-shadow: 0 0 15px black;
            border-radius: 15px;
            background-color: white;
            padding: 5px;
            grid-area:textoPerfil ;
        }
    }

    @media screen and (max-width: 900px) {
        .container{
            display: grid;
            grid-template-columns: 1fr repeat(5,1fr) 1fr;
            grid-template-areas: 
            '. . . . . . .'
            '. conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 .'
            '. . . . . . .'
            ;
            grid-template-rows: 0.1fr 1fr 0.1fr;
        }
        
        .conteudoCartao{
            grid-area: conteudo2;
            display: grid;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.555);
            border:2px solid black ;
            border-radius: 10px;
            padding: 30px;
            max-width: 100%;
            min-height:30vh;
            grid-template-columns:repeat(6,1fr);
            grid-template-rows: 1fr 1fr;
            column-gap: 1.5vh;
            row-gap: 2.5vh;
            grid-template-areas: 
            '. . FotoPerfil FotoPerfil . .'
            'textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil'
            ;
        }
        
        .FotoPerfil{
            border: 2px solid black;
             box-shadow: 0 0 15px black;
            border-radius: 50%;
            background-color: white;
            min-width: 30vh;
            min-height: 30vh;
            padding: 5px;
            grid-area:FotoPerfil;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            background: -90px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
        }
        .textoPerfil{
            border: 2px solid black;
             box-shadow: 0 0 15px black;
            border-radius: 15px;
            background-color: white;
            padding: 5px;
            grid-area:textoPerfil ;
        }
    }

    @media screen and (max-width: 640px) {
        .container{
            display: grid;
            grid-template-columns: 1fr repeat(5,1fr) 1fr;
            grid-template-areas: 
            'conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 conteudo2 conteudo2'
            ;
            grid-template-rows:1fr;
        }
        
        .conteudoCartao{
            grid-area: conteudo2;
            display: grid;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.555);
            border:2px solid black ;
            border-radius: 10px;
            padding: 10px;
            max-width: 100%;
            min-height:10vh;
            grid-template-columns:repeat(6,1fr);
            grid-template-rows: 0.8fr 1fr;
            grid-template-areas: 
            'FotoPerfil FotoPerfil FotoPerfil FotoPerfil FotoPerfil FotoPerfil'
            'textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil textoPerfil'
            ;
        }
       
        .FotoPerfil{
            border: 2px solid black;
             box-shadow: 0 0 15px black;
            border-radius: 50%;
            background-color: white;
            min-width: 40vh;
            min-height: 40vh;
            max-width: 800vh;
            max-height: 800vh;
            padding: 5px;
            grid-area:FotoPerfil;

            justify-self: center;
            align-self: center;
            background: -80px -50px url(/midia/img/sobre/fotoPerfil-md.jpg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
        }
        .textoPerfil{
            justify-self: center;
            align-self: center;
            border: 2px solid black;
             box-shadow: 0 0 15px black;
            border-radius: 15px;
            background-color: white;
            padding: 5px;
            grid-area:textoPerfil ;
        }
    }
}